<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fold</key>
		<false/>
		<key>hiddenAddYard</key>
		<false/>
		<key>itemStrings</key>
		<array/>
		<key>storageType</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>canInput</key>
				<true/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<true/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>请输入客户名称</string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>*客户名字</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string> </string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>客户电话</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fold</key>
		<false/>
		<key>hiddenAddYard</key>
		<false/>
		<key>itemStrings</key>
		<array/>
		<key>storageType</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>1</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<true/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>选择品名</string>
				<key>showArrow</key>
				<true/>
				<key>textTitle</key>
				<string>*品名</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>2</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<true/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>选择颜色</string>
				<key>showArrow</key>
				<true/>
				<key>textTitle</key>
				<string>*颜色</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>入库单位</string>
			</dict>
			<dict>
				<key>canInput</key>
				<true/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>请输入批号</string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>批号</string>
			</dict>
			<dict>
				<key>canInput</key>
				<true/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>请输入货架号</string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>货架</string>
			</dict>
			<dict>
				<key>canInput</key>
				<true/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<true/>
				<key>numericKeyboard</key>
				<true/>
				<key>placeHolder</key>
				<string>0</string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>*单价</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string>0</string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>入库数量</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>5</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string>0</string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>标签数量</string>
			</dict>
			<dict>
				<key>canInput</key>
				<true/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string>0</string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>结算数量</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>0</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>1</string>
				<key>detailTitle</key>
				<string>0</string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>本单退款金额</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>cellType</key>
				<integer>1</integer>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>1</string>
				<key>detailTitle</key>
				<string>0</string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fold</key>
		<false/>
		<key>hiddenAddYard</key>
		<false/>
		<key>itemStrings</key>
		<array/>
		<key>storageType</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>canInput</key>
				<false/>
				<key>clickType</key>
				<integer>3</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<true/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>请选择入仓库</string>
				<key>showArrow</key>
				<true/>
				<key>textTitle</key>
				<string>*入仓库</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string> </string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string> </string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>应付金额</string>
			</dict>
			<dict>
				<key>canInput</key>
				<true/>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<true/>
				<key>placeHolder</key>
				<string>输入实付金额</string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>实付金额</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>1</string>
				<key>detailTitle</key>
				<string> </string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string></string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>预收付款</string>
			</dict>
			<dict>
				<key>canInput</key>
				<false/>
				<key>clickType</key>
				<integer>4</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>请选择付款方式</string>
				<key>showArrow</key>
				<true/>
				<key>textTitle</key>
				<string>付款方式</string>
			</dict>
			<dict>
				<key>canInput</key>
				<true/>
				<key>clickType</key>
				<integer>0</integer>
				<key>detailColor</key>
				<string>0</string>
				<key>detailTitle</key>
				<string></string>
				<key>mandatoryOption</key>
				<false/>
				<key>numericKeyboard</key>
				<false/>
				<key>placeHolder</key>
				<string>请输入备注内容</string>
				<key>showArrow</key>
				<false/>
				<key>textTitle</key>
				<string>备注</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
