<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuXiaoSheng.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
				<key>dateExpires</key>
				<string>2019/6/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Addition.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CWLateralSlide.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EasyNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EasyShowView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GKPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDAutoLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TTGTagCollectionView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E7E58B1F116BBD746A36BC1092D57ECB0B326A6A</string>
						<key>dateExpires</key>
						<string>2019/6/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>48WVJV32K7</string>
						<key>name</key>
						<string>Penghai Chen</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>48WVJV32K7.com.Shenyue.BuXiaoSheng.home</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>48WVJV32K7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>48WVJV32K7.com.Shenyue.BuXiaoSheng.home</string>
				</array>
			</dict>
			<key>name</key>
			<string>BuXiaoSheng.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>17f1527b-77a3-4eb9-a98c-1593a0c76665</string>
				<key>name</key>
				<string>真机测试2018-07-30</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>48WVJV32K7</string>
				<key>name</key>
				<string>Penghai Chen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
