<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>收入</string>
		<key>image</key>
		<string>income</string>
	</dict>
	<dict>
		<key>title</key>
		<string>支出</string>
		<key>image</key>
		<string>spending</string>
	</dict>
	<dict>
		<key>title</key>
		<string>审批</string>
		<key>image</key>
		<string>audit</string>
	</dict>
	<dict>
		<key>title</key>
		<string>付款单</string>
		<key>image</key>
		<string>payment</string>
	</dict>
	<dict>
		<key>title</key>
		<string>银行明细</string>
		<key>image</key>
		<string>bankdetail</string>
	</dict>
	<dict>
		<key>title</key>
		<string>银行互转</string>
		<key>image</key>
		<string>banktransfer</string>
	</dict>
	<dict>
		<key>title</key>
		<string>客户欠款表</string>
		<key>image</key>
		<string>customerarrears</string>
	</dict>
	<dict>
		<key>title</key>
		<string>客户对账表</string>
		<key>image</key>
		<string>clientreconciliation</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>image</key>
		<string>icon_homepage_entertainmentCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>今日新单</string>
		<key>image</key>
		<string>icon_homepage_dailyNewDealCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>购物</string>
		<key>image</key>
		<string>icon_homepage_shoppingCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生活服务</string>
		<key>image</key>
		<string>icon_homepage_lifeServiceCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>image</key>
		<string>icon_homepage_travellingCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>足疗按摩</string>
		<key>image</key>
		<string>icon_homepage_foottreatCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小吃快餐</string>
		<key>image</key>
		<string>icon_homepage_fastfoodCategory</string>
	</dict>
	<dict>
		<key>title</key>
		<string>全部分类</string>
		<key>image</key>
		<string>icon_homepage_moreCategory</string>
	</dict>
</array>
</plist>
